extends layout

block content
  
  form.search(method="post", action="/translate")
    input(placeholder='UNIX command', name="search" value=search)
    input(type='submit', value="Translate")


  - if (translation)
    h1(aria-label="Translation follows") =

    p=translation